<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" formControlName="nombres"  required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="apellidos"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" min="18" formControlName="edad"  placeholder="+18" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" formControlName="direccion"  placeholder="calle #numero, fraccionamiento, municipio" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" formControlName="correo"  placeholder="correo@ejemplo.com" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" formControlName="password2"  required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <img [src]="foto" *ngIf="foto" />
        <ion-button expand="block" fill="outline" (click)="addPhotoToGallery()">
          
          <ion-icon class="ion-margin" name="camera"></ion-icon>
          
          Foto de credencial (frontal)
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>