<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title >Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="help"></ion-icon>
          <ion-label routerLink="/cambiar-info">Cambiar Informacion</ion-label>
        </ion-item>
        
        <ion-item >
          <ion-icon slot="start" name="close"></ion-icon>
          <ion-label (click)="close()">Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
