<ion-content class="auth-form">
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/img/logo.png"></ion-img>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrar</ion-button>

        <span class="divider line one-line">o</span>

        <span class="already">Ya tienes cuenta?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Log In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>